{% extends 'main.html.twig' %}

{% block title %}{{ movies | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <section class="cinema">
        <div class="container">
            <h1>{{ movies | length }} iTunes Movie trailers</h1>
            <div class="movie-list">
                {% for movie in movies %}
                    <article>
                        <img src="{{ movie.image }}" alt="{{ movie.title }}">
                        <h2>{{ movie.title }}</h2>
                        <a href="/movies/{{ movie.id }}">Read More &rarr;</a>
                        <time datetime="{{ movie.pubDate.format('d.m.Y') }}">{{ movie.pubDate.format('d.m.Y') }}</time>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
